*{
    font-family: sans-serif;
}
body{
    color: #6F8BA4;
    /*margin-top:150px;*/
    padding-top: 50px ;
    position: relative;
}
.bg-primary-color{
    background-color: lightgray ;
}
.bg-secondary-color{
    background-color: #111111;
}
.primary-color{
    color: #111111;
}
.purple-color{
    color: #4d38f7;
}
.dark-color {
    color: #20247b;
}
.secondary-color{
    color: #fffff0;
}

/*navbar*/
#navbar{
    border-bottom: 0.5px solid gray;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;

}
#navbar a{
    padding-left: 10px;

    margin-top: 10px;
    /*font-size: 20em;*/
}


#navbar a:hover:not(#home-icon){
    color: #fffff0;
    background-color: #111111 ;
    border-radius: 2em;

}
#navbar a.active{
    color: #fffff0;
    background-color: #4d38f7 ;
    border-radius: 2em;
}
.navbar-brand{
    display: flex;
}
.navbar-brand img{
    width: 100px;
}
.navbar-brand span{
    font-size: 2em;
    margin-left: .5em;
    color: #4d38f7;
    font-weight: 700    ;
}
#navbar-items .navbar-nav{
    display: flex;
    padding-right: 20px;
    justify-content: end;
    width: 100%;
}
#navbar-items .nav-item{
    margin: 0 1em;
}
@media (min-width: 768px) {
    #navbar a{
        padding-left: 10px;
        font-size: 1em;
    }
    
}
/* About Me
---------------------*/
#about{
    padding-top: 150px;
}

.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
h3 {
    font-size: 85px;
    font-weight: 700;
    margin: 0 0 6px;
}
.about-text h6 {
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 15px;
    padding-top: 40px;
    padding-bottom: 50px;
}
@media (min-width: 1200px) {
    .about-text h3 {
        font-size: 65px;
    }
    .about-text h6 {
        font-size: 18px;

    }
}


.about-text p {
    padding-top: 50px;
    font-size: 35px;
    max-width: 450px;
    ali: center;
}
.about-text p mark {
    font-weight: 600;
    color: #20247b;
}

.about-list {
    padding-top: 10px;
}
.about-list .media {
    padding: 5px 0;
}
.about-list label {
    color: #20247b;
    font-weight: 600;
    width: 88px;
    font-size: 30px;
    margin: 0;
    position: relative;
}
.about-list label:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 11px;
    width: 1px;
    height: 12px;
    background: #20247b;
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    margin: auto;
    opacity: 0.5;
}
.about-list p {
    margin: 0;
    font-size: 30px;
}

@media (max-width: 991px) {
    .about-avatar {
        margin-top: 30px;
    }
}


.theme-color {
    color: #fc5356;
}
#grad{
    padding-top: 180px;
}


#grad h3{
    font-size: 85px;
    font-weight: 700;
    margin: 0 0 6px;
}
@media (min-width: 1200px) {
    #grad h3 {
        font-size: 65px;
    }
}


/*atuação profissional*/
#acting{
    padding-top: 180px;
}
#acting h3{
    font-size: 85px;
    font-weight: 700;
    margin: 0 0 6px;
}

.timeline {
    margin-left: 30px;
    border-left: 1px solid #4d38f7;
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: #4d38f7;
    left: -43px;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    content: "";
}
.timeline li:hover{
    background-color: lightgray;
}
.timeline h5{
    font-size: 50px;
}
.timeline p{
    font-size: 40px;
}
@media (min-width: 1200px) {
    h3 {
        font-size: 65px;
    }
    #acting h3 {
        font-size: 65px;
    }
    .timeline h5{
        font-size: 35px;
    }
    .timeline p{
        font-size: 30px;
    }
}

/*portifolio*/








#portifolio{
    padding-top: 180px;
}
#portifolio ul{
    border: 0px;
}
#portifolio a{
    color:#fff;
}
#portifolio button{
    color: #4d38f7;
}
.card{
    padding-top: 20px;
    margin-top: 10px;
    height: 100%;
}

@media (max-width: 1400px) {
    .card{
        height: auto;
    }
}



#technologies{
    padding-top: 200px;
    color: #1a1d20;
}
#technologies h3{
    font-size: 55px;
    padding-bottom: 10px;
}
#technologies a{
    font-size: 40px;
    margin-bottom: 20px;
background-color: #4d38f7;
}
#technologies h4{
    font-size: 35px;
    padding-left: 10px;
}
#technologies p{
    padding-left: 25px;
    font-size: 25px;
}
#technologies li{
    padding-left: 25px;
    font-size: 25px;
}
@media (min-width: 1400px) {

    #technologies h3{
        font-size: 30px;
        padding-bottom: 10px;
    }
    #technologies a{
        font-size: 20px;
        background-color: #4d38f7;
    }
    #technologies h4{
        font-size: 20px;
        padding-left: 10px;
    }
    #technologies p{
        padding-left: 25px;
        font-size: 20px;
    }
    #technologies li{
        padding-left: 25px;
        font-size: 20px;
    }
}

.btn{
    border-radius: 2em;
}



/*contato*/
#contact{
    padding-top: 180px;
}
.form-group{
    padding-top: 50px;
}
#contact h4{
    font-size: 50px;
    font-weight: 900;
    padding-top: 50px;
}
.form-group label{
    font-size: 40px;
}
#contact input{
    font-size: 40px;
}
#contact textarea{
    font-size: 40px;
}
#contact form{
    padding-bottom: 20px;
}
#contact button{
    padding-top: 20px;
    font-size: 50px;
    color: #fff3cd;
}

/*rodapé*/

footer .text-center{
    background-color: #333;
    padding: 20px;
}
footer .nav, p{
    font-size: 40px;
}
footer p{
    border-bottom: 2px solid gray;
}
footer .text-center{
    font-size: 25px;
}
@media (min-width: 1200px) {
    footer p{
        border-bottom: 0px;
    }
}