*{
    font-family: sans-serif;
}
.bg-primary-color{
    background-color: lightgray ;
}
.bg-secondary-color{
    background-color: #111111;
}
.primary-color{
    color: #111111;
}

.secondary-color{
    color: #fffff0;
}

/*navbar*/
#navbar{
    border-bottom: 0.5px solid gray;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}
#navbar a{
    padding-left: 10px;
}
#navbar a:hover{
    color: #fffff0;
    background-color: #111111 ;
    border-radius: 2em;

}
#navbar a.active{
    color: #fffff0;
    background-color: #4d38f7 ;
    border-radius: 2em;
}
.navbar-brand{
    display: flex;
}
.navbar-brand img{
    width: 70px;
}
.navbar-brand span{
    font-size: 1em;
    margin-left: .5em;
    color: #4d38f7;
    font-weight: 700    ;
}
#navbar-items .navbar-nav{
    display: flex;
    padding-right: 20px;
    justify-content: end;
    width: 100%;
}
#navbar-items .nav-item{
    margin: 0 1em;
}